<main>
    <h2>Contacto</h2>

    <div class="afiliaciones">
        <article class="contenido">

            <p>Envíenos sus consultas y comentarios y a la brevedad recibirá nuestra respuesta
            </p>


            <form>
                <div class="form-row">
                  <div class="row">
                    <div class="col">
                      <label class="form-label"></label>
                      <input type="text" class="form-control" placeholder="Nombre" aria-label="nombre">
                    </div>
                    <div class="col">
                      <label class="form-label"></label>
                      <input type="text" class="form-control" placeholder="Apellido" aria-label="apellido">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label class="form-label"></label>
                      <input type="number" class="form-control" placeholder="Teléfono" aria-label="telefono">
                    </div>
                    <div class="col">
                      <label class="form-label"></label>
                      <input type="email" class="form-control" placeholder="Email" aria-label="email">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3">
                      <label class="form-label"></label>
                      <textarea class="form-control" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
                    </div>
                  </div>
                 
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </article>
        <article class="menu">
            <div class="menu-title">Datos útiles</div>
            <p>Manuel Ricardo Trelles 2592 (1416) <br>
                Ciudad Autónoma de Buenos Aires
                República Argentina
                <br><br>
                (011) 4584-9300 / 4581-5000
                <br><br>
                Lunes a viernes de 8 a 20 horas
                Sábados de 8 a 20 horas
            </p>

            
            <div class="boton">
                <a href="../../../../assets/img/5675Telefonos_Pagina.pdf" target="_blanck">
                    <div class="pdf"><img src="../../../../assets/img/archivo-pdf.png" alt=""></div>
                    <div class="descargas">Descargar teléfonos</div>
                </a>
            </div>
            
        </article>
    </div>
</main>