<main>
    <h2><span> Sociales | </span>Discapacidad</h2><br><br>
    <div class="afiliaciones">
    <article class="contenido">
            <h6>INSTRUCTIVO DE LA DIVISIÓN DISCAPACIDAD</h6><br>
            <h6>ATENCIÓN. TRATAMIENTOS 2022: PRESENTACIÓN DE EXPEDIENTES DESDE SEPTIEMBRE A NOVIEMBRE DEL AÑO 2021.
                ATENCIÓN
                LOS
                ANEXOS FUERON MODIFICADOS UTILIZAR LOS NUEVOS ANEXOS</h6><br><br>
            <p> Se deberán realizar en un ÚNICO EXPEDIENTE para tener visión global del afiliado. Asimismo se
                solicitarán
                para
                pedido del plan anual de terapias, informes evolutivos de cada especialidad y de la escolaridad, y en
                base
                al
                mismo, se evaluará por la Junta Multidisciplinaria en Discapacidad la necesidad de cada
                prestación.<br><br>
                El inicio del EXPEDIENTE ÚNICO NO implica autorización de las prestaciones solicitadas; la documentación
                será
                evaluada para la cobertura de las mismas.<br><br>
                No se recepcionarán solicitudes con documentación faltante, incompleta o incorrecta. En caso de
                detectarse
                faltantes o inconsistencias, se procederá al reclamo correspondiente. Eventualmente la Junta
                multidisciplinaria
                solicitará documentación/información ampliatoria por las prestaciones solicitadas, si lo considera
                necesario
                para determinar cobertura.<br><br>
                Inicio de Expediente para afiliados de CABA y Gran Buenos Aires en esta D.O.S. (oficina de Relaciones
                Públicas;
                lunes a viernes de 8:00 a 20:00 hs) y en las Subsedes de Ezeiza y Marcos Paz.<br><br>
                Inicio de Expedientes para afiliados del Interior del País, en la Delegación correspondiente.<br><br>
                Carátulas de los Expedientes: Afiliación en condición de discapacidad. Plan de tratamiento anual,
                Incorporación,
                Supresión o Modificación en las diferentes prestaciones. Incorporación o modificación de
                prestadores.<br><br>
                ESTRUCTURA DE EXPEDIENTES <br><br><br>



                1) PARA SOLICITUD DE AFILIACIÓN COMO AFILIADO CON DISCAPACIDAD: <br><br>



                1.- Fotocopia de DNI Titular y de familiar a cargo. <br><br>



                2.- Fotocopia de Carnet de afiliación de Titular y familiar a cargo. <br><br>



                3.- Fotocopia de último recibo de sueldo de titular. <br><br>



                4.- Fotocopia de Certificado Único de Discapacidad (C.U.D.) VIGENTE tramitación y requisitos en
                <u>https://www.argentina.gob.ar/andis</u> <br><br>



                2) PARA SOLICITUD DE PRESTACIONES (ADEMÁS DE LO ENUNCIADO EN PUNTO 1 Y LA ENCUESTA SOCIAL PERTINENTE
                ELABORADA
                DESDE LA D.O.S O SUS DELEGACIONES): <br><br>

            </p>

            <u>
                <h6>A- Prestaciones terapéuticas o de rehabilitación, educativas y asistenciales:</h6>
            </u> <br>


            <p>
                A.1: Planilla Única de Prestaciones SPF, Indicada por Médico especialista en Neurología, Psiquiatría
                Fisiatría o
                especialistas afín a la discapacidad en cuestión (no debe pertenecer al mismo centro prestador de las
                terapias).
                (Anexo 1). Aclarando modalidad y período. <br><br>



                Las prestaciones educativas deben aclarar especificación de la misma: Módulo de apoyo a la integración
                escolar
                (MAIE), Maestra de apoyo o Módulo maestra de apoyo, Escuela especial (pre primaria, primaria, formación
                laboral), Centro Educativo Terapéutico (CET) o Centro de Día (CD). <br><br>



                Las prestaciones asistenciales deben estar justificadas por el médico tratante y especificadas (Hogar,
                Hogar
                permanente, Hogar Permanente con CET o CD, con modalidad educativa, Pequeño hogar, Residencia o
                Residencia
                permanente). <br><br>



                La cantidad de prestaciones de apoyo no debe exceder las 8 (OCHO) sesiones semanales, con un tiempo de
                cada
                sesión de 45 minutos DE SESION individual, o grupal (con debida justificación). La solicitud de cada
                prestación
                se debe relacionar con la patología del paciente por la cual se encuentra incluido en el régimen. (Según
                Resolución SSS 1511/12) <br><br>



                Las prestaciones de rehabilitación ambulatoria, serán autorizadas por 11 (once) meses al año; esto en
                función de
                los períodos vacacionales y la necesidad de descanso del paciente. Además se solicitarán informes
                evolutivos
                para determinar la continuidad del tratamiento según sea la evolución del paciente. Es importante tener
                en
                cuenta que no se autorizarán tratamientos de rehabilitación de carácter ambulatorio con una cantidad de
                sesiones
                de forma ilimitada debido a que las normativas de la SSS (Superintendencia de Servicios de Salud)
                modulan
                estos
                tratamientos. <br><br>



                Cuando el beneficiario reciba atención en más de una especialidad, en un mismo centro y sea este el que
                facture,
                se reconocerá la modalidad como Atención Ambulatoria Modulada con los siguientes dispositivos según
                estipula
                la
                SSS: <br><br>

                a) Módulo Integral Simple: cuando las sesiones se brinden con una periodicidad menor a 5 días semanales
                (lunes a
                viernes) 4 sesiones por semana como máximo. b) Módulo Integral Intensivo: comprende la atención de
                semana
                completa (5 días de lunes a viernes) 5 sesiones como mínimo, pudiendo llegar a 8 sesiones por semana
                como
                máximo
                si el paciente lo requiere. Ambos módulos deben comprender más de una especialidad. (Según Resol. 428/99
                y
                Resol.1511/12) <br><br>



                A.2: Resúmen de Historia Clínica actualizada firmada por médico especialista tratante. (Anexo 2, uno por
                expediente). En caso de renovación de las prestaciones incluir informe evolutivo de cada una. <br><br>



                A.3: Formulario tabla de horarios de prestaciones educativas y terapéuticas (Anexo 3). Se debe incluir
                horarios
                de asistencia al colegio, terapias y tiempo libre. (Completado por el familiar a cargo, con firma y
                aclaración
                del mismo). <br><br>



                A.4: Presupuestos con valores acorde a Resolución Ministerial vigente de Prestaciones Básicas de
                Discapacidad.
                Cada prestador deberá indicar días y horarios propuestos de atención. Si dicho cronograma presenta
                incongruencias tomando en cuenta tiempos de traslado, descanso, alimentación, etc, (recomendaciones de
                la
                Sociedad Argentina de Pediatría) generará demoras en la autorización e implicará la re confección de los
                anexos
                con esquemas lógicos y que no comprometan la salud del afiliado en cuestión.. <br><br>



                Para solicitud de Dependencia: Anexo 6. En caso de solicitar dependencia se debe adjuntar F.I.M. (medida
                de
                independencia funcional). <br><br>

            </p>

            <u>
                <h6>B- Para solicitud de transporte:</h6>
            </u> <br>


            <p>
                B.1: Anexos 4 y 4 bis. Indicado por Médico especialista en Neurología, Psiquiatría Fisiatría o
                especialistas
                afín a la discapacidad en cuestión. Aclarando modalidad y período. Con justificación de la solicitud
                familiar
                (EXCLUYENTE) , especificando el motivo de salud por el cual se encuentra imposibilitado de usufructuar
                del
                transporte público de pasajeros (ley 24.314 art 22 inc. a). <br><br>



                B.2; Resúmen de Historia Clínica actualizada firmada por médico especialista tratante. (Anexo 2).
                <br><br>



                B.3: Presupuestos con valores acorde a Resolución ministerial vigente de Prestaciones Básicas de
                Discapacidad.
                <br><br>



                Para solicitud de Dependencia: Anexo 6. En caso de solicitar dependencia se debe adjuntar F.I.M. (medida
                de
                independencia funcional). <br><br>



            </p>

            <u>
                <h6>C- Para solicitud de Acompañante Terapéutico:</h6>
            </u> <br>


            <p>C.1: Anexo 5 y Anexo 6 los cuales deben ser indefectiblemente justificados por un profesional de salud
                mental
                (Médico psiquiatra) por ser una prestación regulada por la Ley de Salud Mental. Aclarando modalidad y
                período.
                <br><br>



                C.2: Resúmen de Historia Clínica actualizada firmada por médico especialista tratante. (Anexo 2). En
                caso de
                renovación de las prestaciones incluir informe evolutivo de cada una. <br><br>



                C.3: Presupuesto con valor hora autorizado por la DOS, por ser una prestación incluida en la Ley de
                Salud
                Mental
                y no estar nomenclada dentro de la Resolución ministerial vigente de Prestaciones Básicas de
                Discapacidad.
            </p>

            <br><br>



            <u>
                <h6>D- Para solicitud de cuidador domiciliario:</h6>
            </u> <br><br>

            <p> D.1: Anexo 7 Indicado por Médico especialista en Neurología, Psiquiatría Fisiatría o especialistas afín
                a la
                discapacidad en cuestión Aclarando modalidad y período. <br><br>



                D.2: Presupuesto con valor hora autorizado por la DOS, por ser una prestación que no esta nomenclada
                dentro
                de
                la Resolución ministerial vigente de Prestaciones Básicas de Discapacidad. <br><br>





                3) Los presupuestos de los expedientes de solicitud o para cambiar prestador deben incluir la siguiente
                documentación de acuerdo a cada modalidad prestacional: <br><br>
            </p>





            <b>
                <ul>
                    <li> <u>Prestaciones terapéuticas o de rehabilitación, educativas y asistenciales: </u> </li>
                </ul>
            </b> <br><br>

            <p>- Datos del profesional y/o Institución: Habilitación / Título-Matrícula-Especialidad. <br><br>

                - Categorización de corresponder. <br><br>

                - Inscripción en Registro de prestadores según Servicio Nacional de Rehabilitación / Superintendencia de
                Servicios de Salud. (SNR/SSS). - Constancia de AFIP <br><br>

                - Detalle del plan de trabajo del año a cursar, recursos humanos y edilicios de corresponder. <br><br>

                - Presupuesto con valores acorde a RESOLUSION MINISTERIAL VIGENTE. <br><br>
            </p>


            <b>
                <ul>
                    <li><u>Prestaciones de transporte</u></li>
                </ul>
            </b>
            <br><br>
            <p>- Trayecto específico recorrido de IDA Y VUELTA, detallando los puntos geográficos de traslado (escuela y
                sede
                de tratamientos) y su correlación en Km con correspondiente Google maps o similar adjunto. (NO SE CUBRE
                LA
                ESPERA). <br><br>

                - Nombre completo, DNI y Cuit del transportista o empresa. <br><br>

                - Habilitación municipal y/o provincial vigente para el periodo. <br><br>

                - Seguro del automotor y licencia de conducir profesional, ambos vigentes. <br><br>

                - Constancia de AFIP. <br><br>

                -VTV <br><br>

                - Declaración jurada por parte del afiliado titular de no poseer vehículos adquiridos con régimen de
                franquicia
                especial (art 1. Ley 19.279).( en Anexo 4) <br><br>

                - Presupuesto con valores acorde a RESOLUSION MINISTERIAL VIGENTE. <br><br><br><br></p>


            <b>
                <ul>
                    <li><u>Acompañante terapéutico: </u></li>
                </ul>

            </b> <br><br>

            <p>- Datos del profesional y/o Institución: Habilitación / Título-Matrícula-Especialidad. <br><br>

                - Detalle del plan de trabajo. <br><br>

                - Constancia de AFIP. <br><br>

                - Presupuesto con valor autorizado en D.O.S. <br><br><br><br>

            </p>


            <b>
                <ul>
                    <li><u>Cuidador domiciliario:</u></li>
                </ul>

            </b>
            <br><br><br>

            <p>- Datos del cuidador y/o Institución: Habilitación <br><br>

                - Detalle del plan de trabajo. <br><br>

                - Constancia de AFIP. <br><br>

                - Presupuesto con valor autorizado en D.O.S. <br><br><br><br>
            </p>

            <h6>Anexos</h6>
            <li> <a href=""></a> ANEXO_1.pdf <u>PLANILLA DE PRESTACIONES</u> </li>
            <li> <a href=""></a> ANEXO_2.pdf <u>RESUMEN DE HISTORIA CLINICA</u></li>
            <li> <a href=""></a> ANEXO_3.pdf <u>CRONOGRAMA DE HORARIOS</u></li>
            <li> <a href=""></a> ANEXO_4.pdf <u>TRANSPORTE</u></li>
            <li> <a href=""></a> ANEXO_4_BIS.pdf <u>TRANSPORTE</u></li>
            <li> <a href=""></a> ANEXO_5.pdf <u>ACOMPAÑANTE TERAPEUTICO</u></li>
            <li> <a href=""></a> ANEXO_6.pdf <u>INDEPENDENCIA FUNCIONAL</u></li>
            <li> <a href=""></a> ANEXO_7_CUIDADOR_DOMICILIARIO.pdf <u>CUIDADOR DOMICILIARIO</u></li>
            <li> <a href=""></a> ACTA PODER.pdf <u>PRESENTAR CON LA PRIMER FACTURACION</u></li>
            <li> <a href=""></a> Planilla de Asistencia.pdf <u>PRESENTAR CON CADA FACTURACION</u></li> <br><br>

            <p> <b>- Mail: discapacidados@spf.gob.ar</b> <br> <br>

                <b>- Conmutador: 4583-3619/4584-9300 Interno N° 235</b> <br><br>

                <b>- Horarios: Lunes a Viernes de 9 a 19 Hrs.</b> <br><br>
            </p>

        </article>
        <div>
            <!--Llama a menu-->
            <app-page-beneficios-sociales></app-page-beneficios-sociales>
        </div>
    </div>

</main>