<main>
    <h3>Autoridades</h3>
    <div class="institucional">

        <article class="autoridades">

            <h5>Dra. María Laura Garrigós</h5>

            <p>Subsecretaria de Asuntos Penitenciarios <br> Interventora del Servicio Penitenciario Federal</p>
            <br>
            <h6>CONSEJO DE ADMINISTRACIÓN DE LA OBRA SOCIAL</h6>
            <br>
            <h6>PRESIDENTE</h6>
            
            <p>Inspector General Sonia Alvarez</p>
            <br>
            <h6>VOCAL</h6>
            
            <p>Prefecto Elba Suarez <br>Prefecto Cristina Meza <br>Prefecto (R) Lic Luis Agostinetti <br>Ayte. Mayor
                Liliana Rojas <br>Ayte. Mayor (R) Pablo Gimenez</p>
            <br>
            <h6>SINDICO</h6>
            
            <p>Ayte. 4ta. Cdor. Angel E. Trozzi</p>
            <br>
            <h6>SECRETARIA</h6>
            
            <p>Alcaide Mayor Sonia Fuertes</p>
            <br>
            <h6>DIRECCIÓN DE OBRA SOCIAL</h6>
            <br>
            <h6>DIRECTORA</h6>
            
            <p>Prefecto Elba Suarez</p>
            <br>
            <h6>SUBDIRECTORA</h6>
            
            <p>Subprefecto Dra. Regina Beterette</p>
            <br>
            <h6>DIRECCIÓN MÉDICA</h6>
            
            <p>Subprefecto Dra. Regina Beterette</p>
            <br>
            <h6>SECRETARIA</h6>
            
            <p>Alcaide Mayor Sonia Fuertes</p>
            <br>
            <h6>JEFE DE DIV. COORDINACIÓN Y PRESTACIONES DE SERVICIOS AUX.</h6>
            
            <p>Alcaide Sandro Gutierrez</p>
            <br>
            <h6>JEFA DE DIVISIÓN FINANZAS</h6>
            
            <p>Alcaide Mayor Lic Gabriela Martins Gimenez</p>
            <br>
            <h6>JEFE DE DIVISIÓN AUDITORÍA MÉDICO CONTABLE</h6>
            
            <p>Alcaide Mayor Dr. Gabriel Costamagna</p>
            <br>
            <h6>JEFA DE DIVISIÓN ASISTENCIA SANITARIA</h6>
            
            <p>Subprefecto Dra. Teresa Rudriguez</p>
            <br>
            <h6>JEFA DE DIVISIÓN ASESORÍA JURÍDICA</h6>
            
            <p>Subprefecto Dra. Veronica Serrano</p>
            <br>
            <h6>JEFA DE DIVISIÓN ACCIÓN SOCIAL</h6>
            
            <p>Alcaide Maria Florencia Ferraro</p>
            <br>
            <h6>JEFE DE DIVISIÓN COORDINACIÓN Y PRESTACIONES</h6>
            
            <p>Adjutor Matias Botelli</p>
        </article>
        <article>
            <div class="descargas">
                <h4><span>|</span> Descargas</h4>
            </div>
            <div class="boton">
                <a href=""><div><img src="../../../../assets/img/archivo-pdf.png" alt=""></div></a>
                <a href=""><button>Normativas</button></a>
                
            </div>
            
            <div class="boton">
                <a href=""><div><img src="../../../../assets/img/archivo-pdf.png" alt=""></div></a>
                <a href=""><button>Organigrama</button></a>
            </div>
        </article>
    </div>
</main>