<div class="contenedor">
    <div class="row">
        <h2 class="col-12 titulo"><span>Noticias | </span>Atención odontológica</h2>
        <br />

        <div class="afiliaciones col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <article class="contenido">
            <img src="../../../../assets/img/odontologia-ULTIMO.gif" alt="" />
          </article>
        </div>

          <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-6 menu-n">
            <!--Llama a menu-->
            <app-page-menu-noticias></app-page-menu-noticias>
          </div>
      
       
    </div>
  
</div>
