<main>
    <h2><span>Beneficios sociales | </span>Régimen de geriatría</h2>
    <br><br>
    <div class="afiliaciones">

        <article class="contenido">
            <h6>Requisitos para la inclusión al régimen de geriatría:</h6>
            <ul>
                <li>Tramitar la inclusión al Régimen de geriatría en la Sección Relaciones Públicas (sede central);
                    Subsede Ezeiza; Subsede Marcos Paz o Delegaciones de Obra Social que corresponda.</li>
                <li>Prescripción médica que indique internación geriátrica.
                    Tres presupuestos de hogares o institutos geriátricos elegidos por los familiares del paciente.</li>
                <li>Constancia de habilitación municipal de la institución geriátrica.</li>
                <li>Último recibo de haberes del SPF del afiliado titular.</li>
                <li>Último recibo de haberes por otras actividades laborales del afiliado titular.</li>
                <li>Si el afiliado titular a o algún miembro del grupo familiar conviviente estuviera cesante, con
                    licencia sin goce de haberes o haya sido despedido, deberá presentar los comprobantes que acrediten
                    dicha situación (telegrama, recibos u otro).</li>
                <li>Fotocopia del último recibo de haberes del SPF del afiliado titular y del grupo conviviente, como
                    así también de los gastos de servicios tales como: luz, gas, teléfono, alquiler (todo aquello que
                    sirva para justificar las erogaciones mensuales del paciente)
                    Último recibo de haberes por otras actividades laborales del afiliado titular y del grupo familiar
                    conviviente.</li>
            </ul>

        </article>
        <div>
            <!--Llama a menu-->
            <app-page-beneficios-sociales></app-page-beneficios-sociales>
        </div>
    </div>
</main>