<main>
    <h2><span>Noticias | </span>Nuevo Prestador Zona Sur</h2>
    <br>
    <div class="afiliaciones">
    <article class="contenido">
    <img src="../../../../assets/img/1.jpg" alt="">
    <img src="../../../../assets/img/2.jpg" alt="">
    <img src="../../../../assets/img/3.jpg" alt="">
    <img src="../../../../assets/img/5.jpg" alt="">
    <img src="../../../../assets/img/6.jpg" alt="">
    <img src="../../../../assets/img/7.jpg" alt="">
    <img src="../../../../assets/img/8.jpg" alt="">
    <img src="../../../../assets/img/9.jpg" alt="">
    <img src="../../../../assets/img/10.jpg" alt="">
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-menu-noticias></app-page-menu-noticias>
    </div>
</div>
</main>