<main>
    <h2><span>Beneficios sociales | </span>Jardín Maternal y de infantes</h2> 
    <div class="afiliaciones">
        <article class="contenido">
            <p> <b>"María de la Concepción Villa"</b> <br>
                <b>Dirección:</b>Avenida Constituyentes s/n, barrio de Oficiales, CPF1, Ezeiza, Buenos Aires. <br>
                <b>Teléfono</b>:1569385363 <br><br>

                El Jardín Maternal y de Infantes matricula niños de 45 días a 3 años.
            </p>
            <ul>
                <li>Sala Amarilla: lactantes</li>
                <li>Sala Violeta: deambuladores (1 año)</li>
                <li>Sala Celeste: 2 años</li>
                <li>Sala Rosa: 3 años</li>
            </ul>
            <b>Talleres:</b>
            <ul>
                <li>Ciencia</li>
                <li>Cocina</li>
                <li>Títeres</li>
                <li>Teatro</li>
            </ul>
            <b>Horarios:</b>
            <ul>
                <li>Turno mañana 7:30 a 13:30 horas</li>
                <li>Turno tarde 13:30 a 19:30 horas</li>
            </ul>
        </article>
        <div>
            <!--Llama al menu-->
            <app-page-beneficios-sociales></app-page-beneficios-sociales>
        </div>
    </div>

</main>