<main>

    <h2><span>Trámites |</span>Solicitudes</h2><br>
    <div class="afiliaciones">
        <article class="contenido">
            <h4>Se puede tramitar en la sección Relaciones Públicas, subsede Ezeiza, Subsede Marcos Paz o delegaciones
                de Obra Social, los siguientes tipos de solicitudes:</h4>
            <ul>
                <li>Reconsideración de expedientes.</li>
                <li>Bajas o altas de códigos.</li>
                <li>Inclusión al régimen de geriatría.</li>
                <li>Inclusión al régimen de discapacidad.</li>
                <li>Renovación de cobertura por medicación.</li>
                <li>Cobertura de prótesis no vitales y/u ortesis y audífonos.</li>
                <li>Informe domicilio.</li>
                <li>Fotocopia de historia clínica.</li>
                <li>Lentes de contacto.</li>
                <li>Financiación en prótesis no vitales y/u ortesis y audífonos.</li>
            </ul> <br>
            <h4>Según el tipo de solicitud el afiliado debe presentar, sin excepción, diferente documentación:</h4>
            <ul>
                <li>
                    <b>Para lentes de contacto</b>
                    <ul>
                        <li>Orden médica, que indique el elemento necesario.</li>
                        <li>Tres presupuestos del elemento solicitado.</li>
                    </ul>
                </li>
                Régimen de prestaciones. Capítulo III. Artículo 6º. Punto 6.01.2. Prótesis no vitales: la DOS se hace
                cargo del 50% de la cotización del menor valor de tres presupuestos presentados.
                <li>
                    <b>Para audífonos</b>
                    <ul>
                        <li>Orden médica, que indique el elemento necesario.</li>
                        <li>Audiometría.</li>
                        <li>Tres presupuestos (informe de ganancia en todos los casos). Por resolución de CATA bajo acta
                            Nº 1169/10, uno de los presupuestos para la cobertura de audífonos debe ser de la Mutualidad
                            Argentina de Hipoacúsicos sito en Juan D. Perón Nº 1654 CABA Tel: 4370-9629/9600.</li>
                        <li>En el caso de poseer certificado de discapacidad debe presentarlo.</li>
                    </ul>
                </li>
                Régimen de prestaciones. Capítulo III. Artículo 6º. Punto 6.01.2. Prótesis no vitales: la DOS se hace
                cargo del 50% de la cotización del menor valor de tres presupuestos presentados.
                <li>
                    <b>Para no vitales/ortesis</b>
                    <ul>
                        <li>Orden médica, que indique el elemento necesario.</li>
                        <li>Tres presupuestos. Por resolución de CATA bajo acta Nº 1182/10, uno de los presupuestos para
                            la cobertura de prótesis no vitales/ortesis debe ser de la empresa L-MED sito en Marcelo T.
                            de Alvear Nº 2263 CABA Tel: 4825-0011/ 4825-0020.</li>
                        <li>En el caso de poseer certificado de discapacidad debe presentarlo.</li>
                    </ul>
                </li>
                Régimen de prestaciones. Capítulo III. Articulo 6º. Punto 6.01.3. Prótesis y ortesis para afectados del
                aparato locomotor: La DOS reconoce el 50% de la cotización del menor valor de tres presupuestos
                presentados.
                <li>
                    <b>Bajas o altas de códigos</b>
                    <ul>
                        <li>Último recibo de sueldo y/o que acredite el código que se solicita dar de baja.</li>
                    </ul>
                </li>
                <li><b>Reconsideración de expedientes</b></li>
                <li>
                    <b>Fotocopia de historia clínica</b>
                    <ul>
                        <li>En todos los casos debe presentar sin exepción carnet, DNI o cédula de identidad.</li>
                    </ul>
                </li>
            </ul>
            <p>La inclusión al régimen de discapacidad y geriatría son explicados en <a href=""> beneficios
                    sociales.</a></p>
        </article>
        <!-- <article>
            Llama al menu
            <app-page-tramites></app-page-tramites>
        </article> -->
    </div>
</main>