<div class="contenedor">
  <div class="row justify-content-md-center">
    <div class="col-12 col-sm-8">
      <p class="titulo">Urgencias y emergencias</p>
    </div>
  </div>

  <div class="info row justify-content-md-center gx-5">
    <div class="PostDescription col-12 col-sm-6">
      <div class="description">
      
        <h2>Emergencia Médica a Domicilio</h2>
        <p class="p">
          Los afiliados que residen en zona norte, zona oeste y capital federal
          cuentan con la empresa <strong>Vittal</strong>. Teléfono
          <strong
            ><a href="tel:1140008888">(011) 4000-8888</a> /
            <a href="tel:1145564556">4556-4556</a></strong
          >.
        </p>
        <p class="p">
          Los afiliados de zona sur cuentan con la empresa
          <strong>Emesec</strong> 0810-220-6060
        </p>
        <h2>Emergencias Psiquiatría</h2>
        <p class="p">
          Debe llamar a los siguientes tel:
          <strong
            ><a href="tel:1142407136">(011) 4240-7136</a> /<a
              href="tel:1142407137"
            >
              7137</a
            >
            / <a href="tel:1142407138">7138</a> /
            <a href="tel:1142407139">7139</a></strong
          >, Emergencia Psiquiátrica de la Clínica San Jorge.
        </p>
        <h2>Emergencias Odontológicas</h2>
        <p class="p">
          Si tiene un problema odontológico de urgencia fuera del horario de
          atención de la Obra Social cuenta con una guardia pasiva, deberá
          comunicarse al teléfono
          <strong><a href="tel:1145837999">(011) 4583-7999</a></strong> el mismo
          funciona los días sábados, domingos y feriados de 08 a 20hs.
        </p>
        <h2>Demanda Espontánea Adultos</h2>
        <p class="p">
          De lunes a viernes de 08:00 a 20:00, y sábados de 08:00 a 20:00 hs.,
          la Dirección de Obra Social cuenta con un servicio de guardia médica,
          ubicado en planta baja de nuestra sede central en Manuel R. Trelles
          2592/96, teléfonos&nbsp;<strong
            ><a href="tel:1145815000">(011) 4581-5000</a>&nbsp;y&nbsp;<a
              href="tel:1145849300"
              >(011) 4584-9300</a
            ></strong
          >.
        </p>
        <p class="p">
          De lunes a viernes a partir de las 20:00 hs. y hasta las 08:00 hs del
          día siguiente, los días sábados a partir de las 14 hs., domingos y
          feriados, deberá dirigirse a las clínicas zonales mas cercanas a su
          domicilio.
        </p>
        <h2>Demanda Espontánea Pediatría</h2>
        <p class="p">
          Lunes de 10:00 a 16:00, jueves de 10:00 a 16:00 hs y viernes de 10:00
          a 16:00 hs.
        </p>
      </div>
    </div>

    <div class="atencion-zonal col-12 col-sm-2">
      <h1 class="titulo_zonal">Atencion Zonal</h1>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              CABA
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
                <ul>
                    <li><strong>Clinica de los Virreyes</strong> <br>Ciudad de la Paz
                        1157<br><a href="tel:1147885335">(011) 4788-5335</a></li>
                    <li><strong>Sanatorio Colegiales </strong><br>Conde 851 <br><a
                            href="tel:1145564800">(011) 4556-4800</a></li>
                    <li><strong>Hospital Milital Central </strong><br> Av. Luis María
                        Campos 726 <br><a href="tel:1145765714">(011) 4576-5714</a> / <a
                            href="tel:1145765737">4576-5737</a> / <a
                            href="tel:1147781474">4778-1474</a></li>
                    <li><strong>Clínica Santa Isabel </strong><br>Av. Directorio 2037
                        <br><a href="tel:1146708000">(011) 4670-8000</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              ZONA SUR
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
                <ul>
                    <li><strong>Clínica Privada de Monte Grande </strong><br>General
                        Rodríguez 158. Monte Grande <br><a href="tel:1143676700">(011)
                            4367-6700</a></li>
                    <li><strong>Sanatorio Bernal </strong><br>Avenida San Martin 572.
                        Bernal <br><a href="tel:1142294600">(011) 4229-4600</a></li>
                    <li><strong>Clìnica Privada Ranelagh </strong><br>Km.28,5, Camino
                        Gral. Belgrano 4786 <br><a href="tel:1142238000">(011)
                            4223-8000</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              ZONA OESTE
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
                <ul>
                    <li><strong>Clínica Provincial de Merlo </strong><br>Garay 2260.
                        Merlo <br><a href="tel:2204839000">(0220) 483-9000</a> / <a
                            href="tel:2204817100">481-7100</a></li>
                    <li><strong>Clínica Privada del Buen Pastor (Sólo Adultos)
                        </strong><br>Avenida General Mosconi 1716 . Lomas del Mirador
                        <br><a href="tel:1144415319">(011) 4441-5319</a> / <a
                            href="tel:1144410600">4441-0600</a></li>
                    <li><strong>Sanatorio Figueroa Paredes </strong><br>Juan Manuel
                        Rosas 10841. Laferrere <br><a href="tel:1144802701">(011)
                            4480-2701</a> / <a href="tel:1144802768">2768</a> / <a
                            href="tel:1144802704">2704</a></li>
                    <li><strong>Clìnica Modelo de Morón </strong><br>Uruguay 234 <br><a
                            href="tel:1156271000">(011) 5627-1000</a> / <a
                            href="tel:1141331000">4133-1000</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              ZONA NORTE
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
                <ul>
                    <li><strong>Hospital Privado Nuestra Señora de la Merced
                        </strong><br>Julio Besada 6969. Martín Coronado <br><a
                            href="tel:1148420093">(011) 4842-0093</a></li>
                    <li><strong>Hospital Militar Campo de Mayo (Sólo
                            Adultos)</strong><br>Avenida Richieri s/n Puerta 4. Campo de
                        Mayo <br><a href="tel:1146663500">(011) 4666-3500</a> / <a
                            href="tel:1146660077">0077</a> / <a
                            href="tel:1146664994">4994</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
