<main>
    <h2><span>Noticias | </span>Contratación de FEMEBA</h2>
    <br>
    <div class="afiliaciones">
    <article class="contenido">
    <p>El afiliado deberá consultar en <a href="www.femeba.org.ar">www.femeba.org.ar</a> , los prestadores que se encuentran disponibles, para ello, deberán ingresar a la opción “consulta al padrón de prestadores”.

       <a href="http://www.fol2pm.femeba.org.ar/SIF/site/rolAnonimo/listPadronMedico.xhtml">http://www.fol2pm.femeba.org.ar/SIF/site/rolAnonimo/listPadronMedico.xhtml</a>
        
        <br>
        En la Pagina a la que sea derivado deberán seleccionar la Obra social “SPF”
        <br>
        Y posteriormente el distrito en el cual desea consultar y debajo la especialidad deseada.
        <br>
        Una vez que el sistema web arroje los resultados de la búsqueda, el afiliado podrá seleccionar a través del link +info los detalles del prestador seleccionado, en el cual podrá observar el domicilio, teléfono y haciendo click sobre el prestador se desplegarán los días y horarios vigentes del profesional seleccionado.
        <br>
        La obra social se hará cargo del 100% del valor de consulta y de las practicas de los prestadores comprendidos en la Categoría A, motivo por el cual, el afiliado podrá atenderse sin cargo por este tipo de prestadores.
        <br>
        En caso de optar el afiliado por la atención por parte de prestadores de las categorías “B” y “C”, quedará a su cargo las diferencias que arrojen los valores entre la categoría “A” y la de los especialistas de las categorías “B” y “C”
        <br>
        El costo de la consulta de profesionales de la Categoría “A” es actualmente de $195, que queda íntegramente a cargo de la Dirección de Obra Social.
        <br>
        El costo de consulta de la Categoría “B1” es actualmente de $231, por lo que el afiliado deberá abonar $36 (diferencia entre “A” y “B1”).
        <br>
        El costo de consulta de la Categoría “B2” es actualmente de $285, por lo que el afiliado deberá abonar $90 (diferencia entre “A” y “B2”).
        <br>
        El costo de consulta de la Categoría “C” es actualmente de $285, por lo que el afiliado deberá abonar $90 (diferencia entre “A” y “C”).
        <br>
        Al momento de asistir a la prestación, el afiliado deberá presentar para ser atendido, su DNI y carnet de afiliación.
        <br>
        Ante cualquier reclamo o inconveniente con el prestador medico, deberán contactarse con la entidad primaria correspondiente (círculo, colegio o asociación médica) al que pertenece el mismo, pudiendo corroborrarlo desde el mismo lugar de selección del prestador</p>
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-menu-noticias></app-page-menu-noticias>
    </div>
</div>
</main>