  <form class="row  justify-content-start g-0" >
    <div class="col-12 col-sm-12 col-md-5">
        <label for="inputEmail4" class="form-label" style="font-size: 25px;">Especialidad</label>
        <input style="height: 60px;" type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-12 col-sm-12 col-md-5 place" >        
        <input style="height: 60px; font-size: 20px;" type="text" class="form-control" id="inputAddress" placeholder="Apellido del Profesional">
      </div>

      <div class="col-12 col-sm-12 col-md-2 boton" >
        <button style="height: 58px; width: 99%; font-size: 22px;" type="submit"  class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" >
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>Buscar</button>
      </div>
  </form>


