<main>
    <h2><span>Salud mental |</span>
        Nuevos canales de consultas con el área de Salud Mental</h2><br>
        <div class="afiliaciones">
    <article class="contenido">
        <p>Señores afiliados queremos brindarles los canales de consulta con el area de salud mental de esta DOS 
            <br>
            TELEFONICAMENTE: +54 9 11 6917-6955
            <br>
            FACEBOOK: <a href=""> https://www.facebook.com/spf.saludmental </a>
            <br>
            CORREO ELECTRONICO: <a href=""> saludmentaldosspf@gmail.com</a> </p>
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-salud-mental></app-page-salud-mental>
    </div>
</div>
</main>
