
    <article class="menu">
        <div>Salud mental</div>
        <ul>
            <li><a routerLink="/pages/canalesConsulta" routerLinkActive="active">Nuevos canales de consultas con el área de Salud Mental</a></li>
            <li><a routerLink="/pages/adolescentes" routerLinkActive="active">¿Cómo actuar con un adolescente en crisis?</a></li>
            <li><a routerLink="/pages/violencia" routerLinkActive="active">Violencia doméstica y violencia de género en el contexto de cuarentena</a></li>
            <li><a routerLink="/pages/sos" routerLinkActive="active">Seguimos de Cuarentena: S.O.S.!!!</a></li>
        </ul>

    </article>


