<main>
    <h2><span>Noticias | </span>Nuevos canales de consulta con el área de Servicio Social</h2>
    
    <div class="afiliaciones">
    <article class="contenido">
    <p>Señores afiliados queremos brindarles el nuevo canal de consulta del area de Servicio Social de esta DOS 
    </p>
        <a href="https://www.facebook.com/Servicio-Social-DOS-SPF-101184658213367/" target=_blank>FACEBOOK</a> 
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-menu-noticias></app-page-menu-noticias>
    </div>
</div>
</main>