<main>
    <h2>Noticias</h2>
    <article>


        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/diabetes_azul.jpg" alt="">
            </div>
            <div class="card-body"> <span>25/02/2022</span>
                <p>Días y horarios</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/diabetes" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/fondo-azul-noticia-1.jpg" alt="">
            </div>
            <div class="card-body"> <span>25/02/2022</span>
                <p>Ezeiza</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/ezeiza" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/ODONTOLOGIA-FONDO_1.jpg" alt="">
            </div>
            <div class="card-body"><span>11/02/2022</span>
                <p>Convenio con Federación Odontológica</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/convenio" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/FONDO-COVID.gif" alt="">
            </div>
            <div class="card-body"><span>29/12/2021</span>
                <p>Preguntas frecuentes</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/covid" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/NUEVO-PSICOLOGO-AZUL.jpg" alt="">
            </div>
            <div class="card-body"><span>23/12/2021</span>
                <p>Desde el 6 de Enero</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/psicologo" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/9372nueva-paquiatra-azul.jpg" alt="">
            </div>
            <div class="card-body"><span>23/12/2021</span>
                <p>Desde el 27 de diciembre</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/psiquiatra" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/DIA-DEL-MEDICO-AZUL.jpg" alt="">
            </div>
            <div class="card-body"><span>03/12/2021</span>
                <p>3 de Diciembre Día del Médico</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/diaMedico" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/vih.jpg" alt="">
            </div>
            <div class="card-body"><span>01/12/2021</span>
                <p>1 de diciembre</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/vih" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/fondo-azul-noticia-SANATORIO.jpg" alt="">
            </div>
            <div class="card-body"> <span>17/11/2021</span>
                <p>Ituzaingó y Merlo</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/sanatorio" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/azul.jpg" alt="">
            </div>
            <div class="card-body"><span>08/11/2021</span>
                <p>En un solo día</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/preQuirurgico" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/823EZEIZA-FONDO-AZUL.jpg" alt="">
            </div>
            <div class="card-body"><span>28/10/2021</span>
                <p>19 de Noviembre Complejo Penitenciario Federal I</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/jornada" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/fondo-diabetes.jpg" alt="">
            </div>
            <div class="card-body"><span>27/10/2021</span>
                <p>15 de Noviembre Subsede Ezeiza</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/jornadaDos" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/receta-cronica-azul.jpg" alt="">
            </div>
            <div class="card-body"><span>26/10/2021</span>
                <p>Vigente a partir del 1/11/2021</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/cronica" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/ZONA-SUR-AZUL.jpg" alt="">
            </div>
            <div class="card-body"> <span>06/10/2021</span>
                <p>Licencia Dra. Silvina Baldracco</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/odontologiaSur" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/FONDO-JARDIN.jpg" alt="">
            </div>
            <div class="card-body"><span>09/09/2021</span>
                <p>Jardín maternal y de infantes</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/jardinMaternal" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/PROTOCOLO-DE-ATENCION-fondo-azul-noticia.jpg" alt="">
            </div>
            <div class="card-body"><span>14/04/2021</span>
                <p>Comunicado</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/comunicado" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/fondo-azul-sepelio.jpg" alt="">
            </div>
            <div class="card-body"><span>10/03/2021</span>
                <p>Cobertura de Sepelio</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/sepelio" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/clinica-ima-fondo-azul.jpg" alt="">
            </div>
            <div class="card-body"> <span>04/12/2020</span>
                <p>Nuevo Prestador Zona Sur</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/prestadorSur" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/ezeiza (1).jpg" alt="">
            </div>
            <div class="card-body"><span>01/12/2020</span>
                <p>Nuevas especialidades en Subsede Ezeiza</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/especialidades" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/odontologia-azul.jpg" alt="">
            </div>
            <div class="card-body"><span>01/12/2020</span>
                <p>Regularización de turnos y prestaciones del Servicio de Odontología</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/turnosOdontologia" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/DR-FIA.gif" alt="">
            </div>
            <div class="card-body"><span>04/11/2020</span>
                <p>Nuevo Prestador Zona Sur</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/prestadorSurFia" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/APP-Y-TURNOS-ONLINE.gif" alt="">
            </div>
            <div class="card-body"> <span>16/10/2020</span>
                <p>Instructivo</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/turnosOnline" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/servicio-de-odontologia.gif" alt="">
            </div>
            <div class="card-body"><span>18/09/2020</span>
                <p>Atención odontológica</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/atencion" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/SOCIAL.jpg" alt="">
            </div>
            <div class="card-body"><span>26/02/2020</span>
                <p>Nuevos canales de consulta con el área de Servicio Social</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/canalesDeConsulta" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/FONDO-VADEMECUM.gif" alt="">
            </div>
            <div class="card-body"><span>30/01/2020</span>
                <p>Vademécum para pacientes oncológicos y plan B24</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/vademecum" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/FEMEBA-AZUL.jpg" alt="">
            </div>
            <div class="card-body"> <span>10/08/2018</span>
                <p>Contratación de FEMEBA</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/femeba" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="../../../../assets/img/CENTRALAB-SUCURSALES.jpg" alt="">
            </div>
            <div class="card-body"><span>21/01/2016</span>
                <p>Laboratorio CentraLab sucursales</p>
            </div>
            <div class="card-footer">
                <a routerLink="/pages/centraLab" routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>Leer más</a></div>
        </div>
        
        
        
    </article>
</main>