<footer>
    <div class="footer1">
        <div class="promo">
            <img src="../../../../assets/img/logo_white.png" alt="Logo">
            <div><a href="https://play.google.com/store/apps/details?id=www.obrasocial.spf.gob.ar" target="_blank" rel="app en google Play"><img src="../../../../assets/img/google-play-badge.png"
                        alt=""></a></div>
            <div><a href="https://play.google.com/store/apps/details?id=www.obrasocial.spf.gob.ar" target="_blank">Descargá nuestra aplicación desde Google Play</a></div>
        </div>
        <div>
            <h4>Datos útiles</h4>
            <p>
                Manuel Ricardo Trelles 2592 (1416) <br>
                Ciudad Autónoma de Buenos Aires <br>
                República Argentina
            </p>
            <br>
            <p>(011) 4584-9300 / 4581-5000</p>
            <br>
            <p>Lunes a viernes de 8 a 20 horas <br>
                Sábados de 8 a 20 horas</p>
        </div>
        <div class="menu-footer">
            <h4>Mapa de sitio</h4>
            <ul class="menu-footer">
                <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
                <li><a routerLink="/pages/institucional" routerLinkActive="active">Institucional</a></li>
                <li><a routerLink="/pages/pageSedes" routerLinkActive="active">Sedes</a></li>
                <li><a routerLink="/pages/afiliaciones" routerLinkActive="active">Trámites</a></li>
                <li><a outerLink="/pages/canalesConsulta" routerLinkActive="active">Salud Mental</a></li>
                <li><a routerLink="/pages/discapacidad" routerLinkActive="active">Beneficios Sociales</a></li>
                <li><a routerLink="/components/cartillaMedica" routerLinkActive="active">Cartilla Médica</a></li>
                <li><a routerLink="/components/farmacia" routerLinkActive="active">Farmacias</a></li>
                <li><a routerLink="/components/laboratorio" routerLinkActive="active">Laboratorios</a></li>
                <li><a routerLink="/pages/noticias" routerLinkActive="active">Noticias</a></li>
                <li><a routerLink="/components/contacto" routerLinkActive="active">Contacto</a></li>
            </ul>
        </div>
        <div class="emergencia-footer">
            <a href="#">
                <div>
                    <img src="../../../../assets/img/ambulance icon.png" alt="">
                </div>
                <div>
                    <h4>Emergencias</h4>
                    <p>Teléfonos de urgencia</p>
                </div>
            </a>
        </div>
    </div>
    <div class="footer2">
        <div>
            <span> Dirección Nacional del Servicio Penitenciario Federal</span>
            <p>
                Lavalle 2705 (C1190AAA) Ciudad Autónoma de Buenos Aires - República Argentina
            </p>
            <p>
                Email: consultas@spf.gob.ar - Teléfono: (+54 11) 4964-8300
            </p>
        </div>
        <div>
            <img src="../../../../assets/img/logoSPF-blanco.png" alt="">
        </div>
    </div>
</footer>