<main>
    <article>
       <router-outlet></router-outlet>

   </article>    
    <article class="menu">
        <div>Listado de trámites</div>
        <ul>
            <li><a routerLink="afiliaciones" routerLinkActive="active">Afiliaciones</a></li>
            <li><a routerLink="/pages/transito" routerLinkActive="active">Afiliado en tránsito</a></li>
            <li><a routerLink="solicitudes" routerLinkActive="active">Solicitudes</a></li>
            <li><a routerLink="/pages/reintegro" routerLinkActive="active">Reintegros</a></li>
            <li><a routerLink="/pages/fallecimiento" routerLinkActive="active">Reintegro por fallecimiento</a></li>
        </ul> 
    
    </article>

</main>
