<main>
    <h2><span>Noticias | </span>Laboratorio CentraLab sucursales</h2>
    <br>
    <div class="afiliaciones">
    <article class="contenido">
        <p> Se informa que se ha extendido el convenio con el laboratorio CentraLab, el cual actualmente brinda sus servicios en ésta Sede Central.
        <br>
        Por lo cual, nuestros afiliados podrán realizarse los estudios, previa autorización de la orden para laboratorio en la Sección Coseguro de la Sede Central, acercándose a cualquiera de las siguientes sucursales:
        <br><br>
         
        
        <b>Barrio Norte</b>
        <br>
        Dirección: Arenales 2720
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>
         
        <b>Belgrano I</b>
        <br>        
        Dirección: Vta. de Obligado 1947 8°B
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>
         
        <b>Belgrano III</b>
        <br>        
        Dirección: Cuba 2355
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>
         
        <b>Belgrano R</b>
        <br>        
        Dirección: Av. Elcano 3107
        <br>
        Toma y Recepcion de muestras Laboratorio (Análisis clínicos):
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados: 8:00 A 11:15 hs.
        <br><br>
         
        <b>Botánico</b>
        <br>        
        Dirección: Av. Gral. Las Heras 3828
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>
         
        <b>Cabildo</b>
        <br>        
        Dirección: San José de Calasanz 202
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>         
        
        <b>Colegiales</b>
        <br>
        Dirección: Av. Fdco. Lacroze 2500
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>
         
        <b>Congeso</b>
        <br>        
        Dirección: Av. Callao 52
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>         
        
        <b>Flores</b>
        <br>
        Dirección: Gavilán 15, 1°
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs.
        <br><br>
         
        <b>La Imprenta</b>
        <br>
        Dirección: Gorostiaga 1897
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>         
        
        <b>Liniers</b>
        <br>
        Dirección: Av. Rivadavia 11114
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>         
        
        <b>Nuñez</b>
        <br>
        Dirección: Av. Cabildo 3512
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>         
        
        <b>Palermo Hollywood II</b>
        <br>
        Dirección: Niceto Vega 5651
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 13:00 hs*. Sábados 8 A 11:30 hs. *Por la tarde hasta las 18:15 hs, solo extracciones de urgencia.
        <br><br>         
        
        <b>Plaza Italia</b>
        <br>
        Dirección: Thames 2480
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>         
        
        <b>Recoleta</b>
        <br>
        Dirección: Av. Callao 1343
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
        <br><br>
         
        <b>Villa Crespo</b>
        <br>
        Dirección: Camargo 470
        <br>
        Toma y Recepción de muestras Laboratorio:
        <br>
        Lunes a Viernes: 7:30 A 12:45 hs. Sábados 8 A 11:15 hs.
    </p>
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-menu-noticias></app-page-menu-noticias>
    </div>
</div>
</main>