<main>
    <article>
        <h2>Sedes</h2>
    <!--componente buscador-->
    <app-sedes-buscar></app-sedes-buscar>
    </article>
    <article class="sedes">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Anexo Jonte</h4>
                <p>Avenida Álvarez Jonte 1546 - (1416) - Ciudad Autónoma de Buenos Aires. <br>
                    (011) 4584-9300 / 4581-5000</p>
            </div>
            <div class="card-footer"><a href="https://goo.gl/maps/zzu9eJfqevKNCQJG7" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación Córdoba</h4>
                <p>Miguel del Corro 431 PB Local 1 - (5000) -Nueva Córdoba- Córdoba <br>
                    (0351) 421-3392 <br>
                    delegaciondoscordoba@spf.gob.ar <br>
                    Lunes a viernes de 8 a 17 hora</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U.25</h4>
                <p>Calle 3 N° 334, entre 8 y 10 - Gral. Pico- La Pampa <br>
                    (02302) 325444 <br>
                    obrasocialu25@spf.gob.ar <br>
                    Horario de atención: de lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U10</h4>
                <p>Deán Funes 737 - (3600) - Ciudad de Formosa - Formosa <br>
                    (0370) 442-1966 <br>
                    dosfsa@yahoo.com.ar <br>
                    Horario de atención: de lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U11</h4>
                <p>San Martín 1320 - (3700) - Roque Saenz Peña - Chaco <br>
                    (0364) 442-1589 <br>
                    obrasocialu11@gmail.com <br>
                    Lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U12</h4>
                <p>Zatti 108 - (8500) - Viedma - Río Negro <br>
                    (02920) 43-0046 <br>
                    delegacionobrasocialu12@outlook.com.ar <br>
                    Lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U14</h4>
                <p>Avenida Ameghino 2010 - (9200) - Esquel - Chubut <br>
                    (02945) 45-5143 <br>
                    osocialu14@hotmail.com <br>
                    Horario de atención: de lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U15</h4>
                <p>Avenida Presidente Dr. Carlos Néstor Kirchner 154 - (9400) - Río Gallegos - Santa Cruz. <br>
                    (02966) 43-8476 (02966) 43-8476. <br>
                    delegacionobrasocialu15@hotmail.com <br>
                    Horario de atención: de lunes a viernes de 7:30 a 14:30 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U16/U23/CPF III</h4>
                <p>Leguizamón 437 - (4400) - Salta <br>
                    (0387) 431-1892 <br>
                    delegacionsalta@hotmail.com <br>
                    Horario de atención: de lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U17</h4>
                <p>Buenos Aires 1990 - (3300) - Posadas - Misiones <br>
                    (0376) 449-3334 <br>
                    delegacionu17@fibercorp.com.ar <br>
                    Horario de atención: de lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U32</h4>
                <p>Pasaje Pedro Vargas 519 - (5500) - Ciudad Mendoza - Mendoza <br>
                    (0261) 423-0844 <br>
                    delegacionobrasocialmendoza@hotmail.es <br>
                    Horario de atención: de lunes a viernes de 8 a 15 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U35</h4>
                <p>La Plata 110 1º piso departamento C - (4200) - Santiago del Estero <br>
                    (0385) 428-3779 <br>
                    dosdelegacionsantiagodelestero@hotmail.com <br>
                    Horario de Atención: de lunes a viernes de 7:30 a 13 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U4/13/30</h4>
                <p>Marcelo Torcuato de Alvear 351 - (6300) - Santa Rosa - La Pampa <br>
                    (02954) 45-5820 fax (02954) 43-4445 interno 24 <br>
                    obrasocialu13@spf.gob.ar <br>
                    Horario de atención: de lunes a viernes de 8 a 13 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U5</h4>
                <p>Buenos Aires y Palacios - (8332) - General Roca - Río Negro <br>
                    (0298) 442-5918 <br>
                    delegacionu5@gmail.com <br>
                    Horario de atención: de lunes a viernes de 8 a 15 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U6</h4>
                <p>Avenida 9 de Julio 397 - (9103) - Rawson - Chubut <br>
                    (0280) 448-2997 <br>
                    obrasocial_u6@hotmail.com <br>
                    Lunes a viernes de 8 a 13 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U7</h4>
                <p>Avenida Las Heras 1555 - (3500) - Resistencia - Chaco <br>
                    (0362) 447-4500 <br>
                    dosspfu7@hotmail.com <br>
                    Horario de atención: de lunes a viernes de 7 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U8 y U22</h4>
                <p>Calle Nº 491 entre Nº 141 y Nº 147 Sector Aeroclub Bº Alto Comedero (4600) - San Salvador de Jujuy -
                    Jujuy <br>
                    0388-4983820 <br>
                    delegacionjujuy_spf@hotmail.com.ar <br>
                    Horario de atención: de lunes a viernes de 7 a 18 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Delegación U9</h4>
                <p>Entre Ríos 285 - (8300) - Neuquén <br>
                    (0299)447-1704 fax <br>
                    obrasocialu9@yahoo.com.ar <br>
                    Horario de atención: de lunes a viernes de 8 a 14 horas</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Sede Central</h4>
                <p>Manuel Ricardo Trelles 2592 - (1416) - Ciudad Autónoma de Buenos Aires. <br>
                    (011) 4584-9300 / 4581-5000</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>Subsede Ezeiza</h4>
                <p>Avenida Libertador y Constituyentes, Barrio Privado CPFI - (1804) - Ezeiza - Buenos Aires. <br>
                    (011) 4389-1460 / 1536870682</p>
            </div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"><h4>Subsede Marcos Paz</h4>
                <p>Acceso Zabala, Circunvalación 3, Parcela 191 - (1727) - Marcos Paz - Buenos Aires <br>
                    (011) 6240-8353 / 1569385287</p></div>
            <div class="card-footer"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
</svg>Ver mapa</a></div>
        </div>
    </article>
</main>