
<main>
    <h2><span>Beneficios sociales | </span>Subsidio por celiaquía</h2>
    <br><br>
    <div class="afiliaciones">
    <article class="contenido">
        <h6>A los afiliados que padecen de celiaquía, se les brinda un subsidio mensual de $ 900.</h6>
        <p>Para solicitar el subsidio, se debe presentar en la Sección Relaciones Públicas orden médica que especifique la patología. Se debe tramitar la renovación anual con indicación médica (sin excepción).</p>
    
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-beneficios-sociales></app-page-beneficios-sociales>
    </div>
</div>
</main>