<main>
    <h2><span>Noticias | </span>1 de diciembre</h2>
    <br>
    <div class="afiliaciones">
        <article class="contenido">
            <div clas="diferente">
                <img src="../../../../assets/img/vih-1-1.jpg" alt="">
                <img src="../../../../assets/img/vih2-2.jpg" alt="">
                <img src="../../../../assets/img/vih-3-3.jpg" alt="">
                <img src="../../../../assets/img/vih4-4.jpg" alt="">
                <img src="../../../../assets/img/vih-5-5.jpg" alt="">
                <img src="../../../../assets/img/vih-6-6.jpg" alt="">
            </div>
            <br><br><br>
            <img src="../../../../assets/img/cinta.jpg" alt="">

            <br><br><br>
            <p>Hoy como todos los años continuamos celebrando el Día Mundial de la Lucha contra el VIH, bajo el lema
                “Solidaridad Mundial, Responsabilidad Compartida”. En estos tiempos tan difíciles debemos asumir un
                compromiso
                tanto social como sanitario, en donde, ayudemos desde nuestro lugar a educar para la salud promoviendo
                conciencia.

                Acompáñanos en esta gratificante tarea.

                Podes completar este cuestionario (ver formulario) sobre:

                ¿Qué sabemos del VIH/SIDA?

            </p>

            <a href=" https://forms.gle/DNpuYnj17fYJoots8" target=_blanc>Cuestionario</a>
        </article>
        <div>
            <!--Llama a menu-->
            <app-page-menu-noticias></app-page-menu-noticias>
        </div>
    </div>
</main>