<main>
    <h2><span>Noticias | </span>Preguntas frecuentes</h2>
    <br>
    <div class="afiliaciones">
    <article class="contenido">
        <img src="../../../../assets/img/covid.jpg" alt="">
        <img src="../../../../assets/img/INFO-COVID1.gif" alt="">
        <img src="../../../../assets/img/INFO-COVID2.gif" alt="">
        <img src="../../../../assets/img/INFO-COVID-3.gif" alt="">
        <img src="../../../../assets/img/INFO-COVID-4.gif" alt="">
        <img src="../../../../assets/img/INFO-COVID6.gif" alt="">
    </article>
    <div>
        <!--Llama a menu-->
        <app-page-menu-noticias></app-page-menu-noticias>
    </div>
</div>
</main>