<main>
    <h2><span>Beneficios sociales | </span>Violencia doméstica y violencia de género en el contexto de cuarentena</h2> <br>
    
    <div class="afiliaciones">
    <article class="contenido">
        <img src="../../../../../assets/img/violencia-muy-chica.jpg" alt=""><br>
        <p> En nuestro país fue sancionada la Ley 26.485 en el año 2009. Se trata de una LEY DE PROTECCIÓN INTEGRAL A LAS MUJERES, que tiene como objeto prevenir, sancionar y erradicar la violencia contra la mujer en los ámbitos en que desarrollen sus relaciones interpersonales. En su artículo 4to, se define a la violencia contra la mujer como toda conducta, acción u omisión, que, de manera directa o indirecta, tanto en el ámbito público como en el privado, basada en una relación desigual de poder, afecte su vida, libertad, dignidad, integridad física, psicológica, sexual, económica o patrimonial, como así también su seguridad personal. Quedan comprendidas las perpetradas desde el Estado o por sus agentes.
            <br>
            Se considera violencia indirecta, (…) toda conducta, acción, omisión, disposición, criterio o práctica
            discriminatoria que ponga a la mujer en desventaja con respecto al varón.
            <br>
            Se describen en la misma Ley (Art.5), los siguientes tipos de violencia contra la mujer a saber: Física;
            psicológica; sexual; económica y simbólica.
            <br>
            Por otra parte, la Ley 1265 en su Art. 2 - Año 2003, entiende por Violencia Familiar y Doméstica al maltrato
            por
            acción u omisión de un miembro del grupo familiar que afecte la dignidad e integridad física, psíquica,
            sexual
            y/o la libertad de otro/a integrante
            <br>
            En el Art. 5 explicita que ante un hecho de violencia familiar y domestica pueden denunciar:
        </p>
        <ol>
            <li>Toda víctima de violencia familiar y doméstica que posea legitimación activa.</li>
            <li>Cualquier persona que hubiere tomado conocimiento de las acciones u omisiones previstas en esta Ley. </li>
            <li>Las niñas, niños y adolescentes.</li>
        </ol>

        <p>
            Con respecto a la situación actual, desde que se decretó el aislamiento preventivo y obligatorio a raíz de la pandemia del COVID- 19, se incrementaron los pedidos de ayuda y denuncias por violencia de género. Muchas mujeres se encuentran conviviendo las 24hs del día junto a su agresor, con lo cual los riesgos y la situación de vulnerabilidad se incrementan.
            <br>

            Entonces, ¿Dónde pedir ayuda? Hay varias posibilidades.
            <br>

            Si te sentís identificada con alguna de las cuestiones descriptas en el presente Artículo, tené en cuenta la guía de apoyo que ponemos a disposición:
            <br>
        </p>
        <ul>
            <li>Mantené contacto con tus familiares, amigos o red de apoyo.</li>
            <li>El aislamiento podría ser una vía de control para los agresores.</li>
        </ul>

        <p>Entonces:</p>
        <ol>
            <li>Comunícate diariamente con tu familia o amigos cercanos.</li>
            <li>Tené una palabra Clave para pedir ayuda, en caso de ser necesario.</li>
            <li>Informá a tu familia o amigos si durante este periodo se incrementa la violencia
                domestica-física-psicológica o sexual- y si percibís que tu vida está en riesgo, no lo escondas ni te acostumbres.</li>
            <li>La violencia doméstica suele ser progresiva, es decir, escala y no retrocede. Por ello, no esperes. Pedí ayuda.......</li>
            <li>La contención y los dispositivos terapéuticos son necesarios a los fines de abordar la problemática.
            </li>
        </ol>

        <p>Recursos para los familiares o amigos cercanos:</p>

        <ol>
            <li>Estar en contacto con la posible victima vía remota. WhatsApp, correo electrónico o celular; siempre y cuando consideres que este último es seguro.</li>
            <li>Escribir mensajes a la víctima; recordando que su vida es muy importante.</li>
            <li>Estar atentos en caso de recibir la palabra clave para informar a las autoridades.</li>
            <li>Ofrecer la posibilidad de acompañamiento en la búsqueda de apoyo y contención en las aéreas competentes (medico, legal, social y psicológica).</li>
        </ol>

        <p> ANTE SITUACION DE RIESGO INMINENTE LLAMA AL TEL. 911. o 137<br>

            <i><b> Para asesorarte y/o pedir ayuda </b></i>
            <br>
            Atención, Contención y Asesoramiento de Violencia contra las Mujeres (24 horas del día) Línea 144 (Nación,
            Provincia, C.A.B.A.)
            <br>
            Mail: linea144@mingeneros.gob.ar
            <br>
            WahtsApp: 1536373727
            <br>
            Tel: 0800-666- 8537 (mujer)
            <br>
            <i><b> Ministerio de las Mujeres, Géneros y Diversidad</b></i>
            <br>
            WhatsApp: 11-2771-6463, 11-2775-9047 y 11-2775-9048. (24 horas del día).
            <br>
            <i><b> Servicio de Salud Mental D.O.S.</b></i>
            <br>
            Tel 4584-9300 int. 230. lunes a viernes de 10 a 18hs (Horario durante el periodo de cuarentena).
            <br>
            <i><b> Denuncias</b></i>
            <br>
            Dirección general de la mujer
            <br>
            Tel 137 (Ministerio de justicia)
            <br>
            Oficina de violencia domestica (atención 24hs)
            <br>
            Lavalle 1250 C.A.B.A.- Teléfonos 4123-4510 al 4514
        </p> <br>
        <div class="firma">
            <div>Lic. Lucía Pérez
                <br>
                Psicóloga
                <br>
                M.N. 51159
            </div>
            <div>Lic. Lorena Vizier
                <br>
                Psicóloga
                <br>
                M.N. 35120
            </div>
        </div>
    </article>
    <div>
        <!--llama a menu-->
        <app-page-beneficios-sociales></app-page-beneficios-sociales>
    </div>
</div>
</main>