<main>
    <h2><span>Benficios sociales | </span>¿Cómo actuar con un adolescente en crisis?</h2>

    <div class="afiliaciones">
        <article class="contenido">

            <img src="../../../../../assets/img/adolescente-muy-chica (1).jpg" alt="">
            <br>
            ¿Cómo podemos saber si un adolescente está en crisis?
            <br>
            Lo primero que debemos tener en cuenta es que la mayoría de las veces las crisis ocurren entre los 12 y los
            16 años, ya que son los años más difíciles para el adolescente y sus padres.
            <br>
            El indicio más evidente del comienzo de una crisis es una modificación muy brusca del comportamiento
            habitual del adolescente, en los varones se intensifican conductas violentas y agresivas y en las chicas se
            manifiesta con comportamientos depresivos.
            <br>
            Cuando los chicos sufren se exponen más que nunca al peligro y cuando sufren las chicas buscan protección.
            <br>
            La rápida intervención de un profesional evitará la repetición de la crisis para modificar positivamente su
            vida futura ya que no tenemos que olvidar que el adolescente es un ser en formación.
            <br>
            Hasta tanto pueda ocurrir esa intervención, se recomienda que los padres muestren al adolescente serenidad,
            escuchando y acompañando a su hijo. Hablarle claramente, intentando traducir en pocas y breves palabras lo
            que él está viviendo y lo hace sufrir.
            <br>
            Es importante no presagiar el fracaso a un hijo, por el contrario, hay que intentar ser positivo, no se
            ayuda a un adolescente asustándolo con la amenaza de un fracaso seguro si no estudia o si no cumple
            determinados objetivos, de esa manera sólo se consigue demostrarle falta de confianza en él.
            <br>
            Estando atentos, acompañándolos y sobre todo tolerando su sufrimiento ya los estaremos ayudando.

            <br>
            <br>
            Lic. Natalia Atondo
            <br>
            M.P. 83472
        </article>
        <article>
            <!--Llama al menu-->
            <app-page-beneficios-sociales></app-page-beneficios-sociales>
        </article>
    </div>
</main>