<main>
    
    <h2><span>Beneficios sociales | </span>Seguimos de Cuarentena: S.O.S.!!!</h2>
    
    <div class="afiliaciones">
        <article class="contenido">
            <img src="../../../../../assets/img/AGOTAMIENTO (1).jpg" alt="">
            <br><br>
            <p> Todos tenemos pleno conocimiento que el Aislamiento Social al que llamamos “Curentena” es una medida
                previsora. Pese a ello, no está exenta de efectos indeseados, y uno de ellos es el aspecto psicológico.
            <p> A medida que pasan los días, el aislamiento se hace más difícil de sobrellevar. En este sentido, podemos
                encontrarnos con los efectos más inofensivos como el aburrimiento y la frustración hasta los de mayor
                gravedad, como sentimientos de ira, miedo, confusión e incluso depresión y síntomas propios de un estrés
                post traumático, como pesadillas, pensamientos intrusivos o cambios repentinos de humor.</p>

            <p>Es importante detectar lo que estamos sintiendo, y en la medida de lo posible, ponerlo en palabras.
                Hablar con alguien con quien convivimos o con alguien con quien podamos tener una comunicación virtual.
            </p>

            <p>Esta “nueva temporalidad” en los hogares, podría ser convertida en una oportunidad para estrechar lazos
                compartiendo “un tiempo no apurado” como dice María Elena Walsh en la Canción Marcha de Osías.</p>

            <p>Un tiempo no apurado para la comunicación con los otros y también con uno mismo: Escucharse.</p>

            <p>Y en este sentido tan amplio, podemos pensar en tener registro de nuestro cuerpo, de nuestros
                pensamientos y también de aquellos intereses que alguna vez tuvimos y que en la vorágine cotidiana nos
                olvidamos de “escuchar”: ¿qué me gusta? ¿qué me hace bien?</p>

            <p>En estos tiempos de incertidumbre e inestabilidad, con un mundo y una existencia que ya no reconocemos,
                las personas necesitan anclarse con algo que conozcan, que se sienta familiar y que les dio confort,
                estabilidad, seguridad y alegría en el pasado.</p>

            <br>
            <p>Adj. Lic. Victoria Cocciolo <br>


                Psicóloga M.N. 47.616</p>

        </article>
        <div>
            <!--Llama a menu-->
            <app-page-beneficios-sociales></app-page-beneficios-sociales>
        </div>
    </div>
</main>