<div class="contenedor">
    <div class="row  cont-titulo ">
      <div class="col-12 col-sm-12 col-md-12" >
        <h2><span>Buscador | </span>Turnos Online </h2>
      </div>
      
    </div>
  
    <app-turnos-buscar></app-turnos-buscar>

    <div class="resultado">
        <div>
            <h4 class="titulo-resultado">Realice su consulta de turnos desde el buscador superior</h4>
            <p class="subtitle-resultado">Puede buscar por especialidad o por el apellido del profesional</p>
        </div>

        <div >
            <p >Para tomar un turno disponible haga click en "Tomar Turno" despues de realizar la búsqueda y siga el simple procedimiento de 2 pasos</p>
            <p >En caso de que el turno no se encuentre disponible podrá ingresar sus datos para quedar en lista de espera si un turno queda disponible</p>
        </div>
  </div>

  </div>
  
  