<main>

    <h2><span>Trámites |</span>
        Afiliaciones</h2><br>
    <div class="afiliaciones">
        <article class="contenido">
            <h4>Requisitos para la afiliación:</h4><br>
            <h5>Titular</h5>
            <p> Fotocopia del DNI, foto 4x4 color y formulario de afiliación Nº 88.</p>
            <br>
            <h5>Cónyuge</h5>
            <p>Fotocopia del DNI, certificado de matrimonio, formulario Nº 88 y foto 4x4 color.</p>
            <br>
            <h5>Hijos matrimoniales o reconocidos por el titular</h5>
            <p>Fotocopia del DNI, certificado de nacimiento, formulario de afiliación Nº 88, aceptación escrita por
                parte
                del titular y foto 4x4 color (mayores de 8 años).</p>
            <br>
            <h5>Hijos por adopción simple o plena</h5>
            <p>Fotocopia del DNI, sentencia de adopción, formulario Nº 88 y foto carnet 4x4 color (mayores de 8 años).
            </p>
            <br>
            <h5>Requisitos para la afiliación de conviviente</h5>
            <h6>La documentación necesaria que debe adjuntar el titular:</h6>
            <ul>
                <li>Fotocopia de DNI, donde consten los datos personales y el domicilio en común.</li>
                <li>Foto 4x4 color, fondo blanco del conviviente para afiliar.</li>
                <li>Formulario Nº 88.</li>
                <li>Además debe presentar de forma excluyente uno de los siguientes documentos:</li>
                <ul>
                    <li>Información sumaria judicial.</li>
                    <li>Certificado de convivencia expedido por el juez de paz.</li>
                    <li>Certificado de convivencia expedido por el CGP.</li>
                    <li>Certificado expedido por el Registro de Unión Civil de la CABA.</li>
                    <li>Certificado de domicilio en común con el titular (deben acreditar 5 años de convivencia, o 2
                        años
                        cuando poseen descendencia en común, en tal caso de presentar certificado de nacimiento).</li>
                </ul>
            </ul>
            <h5>Cada 3 años debe solicitar la continuidad de la afiliación del concubino/a, para lo cual debe presentar:
            </h5>
            <ul>
                <li>Fotocopia de DNI, donde consten los datos personales y el domicilio en común.</li>
                <li>Formulario Nº 88.</li>
                <li>Además debe presentar de forma excluyente uno de los siguientes documentos (actualizado):</li>
                <ul>
                    <li>Información sumaria judicial.</li>
                    <li>Certificado de convivencia expedido por el juez de paz.</li>
                    <li>Certificado de convivencia expedido por el CGP.</li>
                    <li>Certificado expedido por el Registro de Unión Civil de la CABA.</li>
                    <li>Carnet anterior del concubino/a.</li>
                    <li>Recibo de sueldo.</li>
                </ul>
            </ul>
            <h5>Requisitos para la afiliación de hijo de 21 a 25 años</h5>
            <ul>
                <li>Ser mayor de 21 años soltero/a.</li>
                <li>Debe encontrarse cursando estudios secundarios, terciarios o universitarios en establecimientos
                    oficiales o reconocidos oficialmente.</li>
                <li>Acreditar parentesco.</li>
                <li>La documentación necesaria que debe adjuntar es:
                    <ul>
                        <li>Fotocopia del DNI (hijo).</li>
                        <li>Fotocopia del DNI (titular).</li>
                        <li>Partida de nacimiento.</li>
                        <li>Constancia de alumno regular</li>
                        <li>Certificacion de negatividad emitido por Anses</li>
                    </ul>
                </li>
                <li>Cada 6 meses debe presentar constancia de alumno regular a fin de obtener la continuidad de la
                    afiliación del adherente.</li>
            </ul>

            <p><b>NOTA:</b> Por resolución Nº 4821/06 DN se deja sin efecto a partir del 07/12/2006 la afiliación de
                nietos, hijos (plan 30 años), padres y madres Mediante ACTA Nº 852/08 CADOS de fecha 04/09/2008.</p>

        </article>
        <article>
        </article>
    </div>

</main>